html {
  margin: 0;
  padding: 0;
  font-family:  Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
            box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  --header-active-color: #00ACDC;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


.header {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  gap:20px;
}

.nav__link {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  padding: 22.5px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__link:link {
  color: #000;
}

.nav__link:visited {
  color: var(--header-active-color);
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--header-active-color);
}

.nav__link:active {
  text-decoration: none;
  color: var(--header-active-color);
}

.nav__link:active::after {
  position: absolute;
  content:'';
  height: 4px;
  border-radius: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--header-active-color);
}

